
<div class="min-h-screen bg-gray-100 flex flex-col">
  <header class="bg-white shadow p-6 ">
    <h1 class="text-4xl font-bold text-center text-pink-400 font-mono">
      Minha jornada em programação
    </h1>
    <p class="text-center text-gray-500 mt-2">
      Portófio com alguns dos meus projetos usando React, Angular e Tailwind
    </p>

  </header>

  <main class="container mx-auto lg:px-[20%]  sm:px-[5%]  lg:py-8 sm:py-8 flex-grow">
    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8">
      <div
        *ngFor="let projeto of projetos"
        class="bg-white rounded-lg shadow-md p-6 hover:shadow-xl transition"
      >
        <div class="grid ">
          <img
            [src]="projeto.imagem"
            alt="{{ projeto.nome }}"
            class="w-full h-40 object-cover rounded mb-4"
          />
          <h2 class="text-2xl font-semibold mb-2 font-mono text-pink-400">{{ projeto.nome }}</h2>
          <p class="text-gray-600 mb-4">{{ projeto.descricao }}</p>
          <a
            [href]="projeto.link"
            target="_blank"
            class=" text-center px-4 py-2 bg-pink-500 text-white rounded hover:bg-pink-600 transition"
          >
            Ver Projeto
          </a>
        </div>
      </div>
    </div>
  </main>

  <footer class="mt-auto p-6  text-gray-600 bg-white shadow flex gap-2 place-items-center justify-center">
  <div class="flex justify-center space-x-6 mb-2">
   
    <a href="https://github.com/DomeniqueRosa" target="_blank" class="hover:text-pink-500 transition">
      <svg class="w-5 h-5 inline-block" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M12 0C5.373 0 0 5.373 0 12c0 5.303 3.438 9.8 8.205 11.387.6.113.82-.263.82-.583 0-.288-.01-1.05-.015-2.06-3.338.726-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.09-.745.083-.73.083-.73 1.205.084 1.84 1.236 1.84 1.236 1.07 1.832 2.807 1.303 3.492.996.107-.775.418-1.304.762-1.604-2.665-.3-5.466-1.333-5.466-5.932 0-1.31.467-2.38 1.235-3.22-.123-.303-.535-1.522.117-3.176 0 0 1.008-.322 3.3 1.23a11.51 11.51 0 013.003-.404c1.02.005 2.047.138 3.004.404 2.29-1.552 3.296-1.23 3.296-1.23.654 1.654.242 2.873.12 3.176.77.84 1.233 1.91 1.233 3.22 0 4.61-2.804 5.628-5.475 5.922.43.372.823 1.104.823 2.226 0 1.606-.015 2.903-.015 3.296 0 .322.216.699.825.58C20.565 21.796 24 17.298 24 12c0-6.627-5.373-12-12-12z"
        />
      </svg>
    </a>

   
    <a href="https://www.linkedin.com/in/alires-rosa/" target="_blank" class="hover:text-pink-500 transition">
      <svg class="w-5 h-5 inline-block" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76
            0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.268c-.966
            0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79
            1.75 1.764-.784 1.764-1.75 1.764zm13.5 11.268h-3v-5.604c0-1.337-.024-3.063-1.868-3.063-1.87
            0-2.157 1.46-2.157 2.968v5.7h-3v-10h2.884v1.367h.041c.401-.76
            1.379-1.561 2.837-1.561 3.031 0 3.591 1.994 3.591 4.588v5.606z"
        />
      </svg>
    </a>

    
  </div>
  <p class="text-sm">&copy; Alires Rosa. Todos os direitos reservados.</p>
</footer>

</div>
